# Игнорируем тяжелые данные (они прокидываются через volume)
data/

# Игнорируем локальные виртуальные окружения
.venv/
venv/
env/

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Игнорируем служебные файлы Git и утилиты
.git/
.gitignore
make_prompt/

# Игнорируем локальные переменные окружения
.env